.mention {
  position: relative;
  &:hover {
    > div {
      visibility: visible;
      opacity: 1;
    }
  }
}

.portal__mention {
  top: -9999px;
  left: -9999px;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.portal__item_mention {
  display: flex;
  align-items: center;
  width: 316px;
  padding: 10px;
  color: #ffffff;
  background-color: #17171a;
  cursor: pointer;

  &.active {
    background-color: #222531;
  }

  &:hover {
    background-color: #222531;
  }
}

.mention_link {
  position: relative;
  padding: 3px 3px 2px;
  margin: 0px 1px;
  vertical-align: baseline;
  display: inline-block;
  border-radius: 4px;
  background-color: #eee;
  font-size: 16px;
}

.tooltip__mention {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 30px;
  transition: all 0.4s;
  background-color: #222531;
  color: #ffffff;
  z-index: 1;

  display: flex;
  align-items: center;
  width: 316px;
  padding: 10px;
  border-radius: 8px;
}

.tooltip__image {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.tooltip__profile {
  h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #858ca2;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
